---
import '../styles/global.css';
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="shortcut icon" href="/bloom-favicon.png" />
  <meta name="theme-color" content="#ec4899" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="refresh" content="0; url=/blog" />
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to blog...</p>
</body>
</html>