---
import '../styles/global.css';
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/bloom-favicon.png?v=6" />
  <link rel="apple-touch-icon" href="/bloom-favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="refresh" content="0; url=/blog" />
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to blog...</p>
</body>
</html>